---
import SEOHead from '../components/SEOHead.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  type?: 'website' | 'article';
  publishedDate?: Date;
  noindex?: boolean;
  bodyClass?: string;
}

const { title, description, ogImage, type, publishedDate, noindex, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <SEOHead title={title} description={description} ogImage={ogImage} type={type} publishedDate={publishedDate} />
    {noindex && <meta name="robots" content="noindex, nofollow" />}
    <link rel="alternate" type="application/rss+xml" title={title} href="/rss.xml" />
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
